/* * {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
} */

h1{
  color:red;

}
li{
  list-style :none;

}
.itemsWrapper{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1em;
}

.itemList{
  grid-column:auto;
  border-radius:15%;
  margin:1em;
  padding:1em;
  background-color: #2196F3;
  text-align:center;
}

#form-wrapper{
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
.form-item{
  grid-column:auto;
}
